<p>
  Here are the answers to the most frequently asked questions about the project.
  If some points remain unclear, please contact us in any convenient way.
</p>

<div class="row">
  <div class="col col-xs-9">
    <h2 id="about-the-project">About The Project</h2>

    <h3>How does it work?</h3>

    <ol>
    <li>Watch the video</li>
    <li>Mark emotions you’ve noticed</li>
    <li>Get the money</li>
    </ol>

    <h3>What’s the aim of this project?</h3>

    <p>You can read about the project <a href="http://www.neurodatalab.com/en/blog/emotion-miner-platform/">here</a>.</p>

    <h3>How can participation in the Emotion Miner project be useful to me?</h3>

    <p>Emotion Miner is a perfect and easy way to earn money and to develop your emotional awareness skills. Join us! Sign up here (sign-up page link).</p>

    <h3>How can I join the Emotion Miner project?</h3>

    <p>You only need to sign up <a href="www.emotionminer.com">at the website</a>. And follow 4 simple steps:</p>

    <ol>
    <li>Confirm your e-mail</li>
    <li>Fill in the form</li>
    <li>Answer several short questions so we can make sure your English really matches the demanded level</li>
    <li>Accomplish the Demo Task</li>
    </ol>

    <h3>May I join the project if I’m under age?</h3>

    <p>No, you can only if you are over 18.</p>

    <h2 id="sign-up--account">Sign Up / Account</h2>

    <h3>I haven’t received the sign-up confirmation link, what should I do?</h3>

    <p>Please check your spam folder. If the mail’s not there, contact us (feedback form link)</p>

    <h3>I forgot my id and password, what should I do?</h3>

    <p>Please write your e-mail address here (link)</p>

    <h3>I can’t log in using my id and password, what should I do?</h3>

    <p>Please make sure the <kbd>Caps Lock</kbd> key isn’t on, as well as the wrong keyboard layout.</p>

    <p>If it’s your first log in attempt, make sure you have confirmed your registration by following the link we have e-mailed to you.</p>

    <p>You might have mistyped your id or password; to resume your id and password, type your e-mail address here (link)</p>

    <h3>My account is blocked, what should I do?</h3>

    <p>Your account may only be blocked in case your annotation work hasn’t passed the flood test system.</p>

    <h2 id="getting-started">Getting Started</h2>

    <h3>How can I learn how to annotate?</h3>

    <p>All newcomers at the project are provided with a simple and short Demo Task, after which you can get down to work at once. Also, the newcomers get the chance to look through a brief emotional awareness tutorial during the work and take a small test. You can go back to the tutorials anytime: they can be found at your profile in ‘Tutorial&amp;Tests’ section.</p>

    <h3>Why do I need to train before I get down to work?</h3>

    <p>We know for certain that you’re an emotion recognition expert! However we suggest the short training to be sure that we all mean the same thing when we use some term.</p>

    <h3>Will I be taken on if I fail the mini-test?</h3>

    <p>Yes. You get 2 attempts and if you still fail, the correct answers are given to you and even in this case your test is considered complete.</p>

    <h3>I don’t want to fill in the form. May I be taken on without filling one?</h3>

    <p>Unfortunately, not. (offer point link)</p>

    <h3>I haven’t received the access to annotation, what may the reason be?</h3>

    <p>Only those users who have successfully completed the English language test may get down to work. (see offer point)</p>

    <p>If you have successfully completed the test but haven’t received the access to annotation, please contact us. (link)</p>

    <h3>How can I become Jedi Master?</h3>

    <p>You can take the Jedi Master task having completed at least one Standard Task and an Extended task. May the Force be with you!</p>

    <h3>Where can I read more about the emotions?</h3>

    <p>You can find the detailed tutorial for each scale type at your profile in ‘Tutorial&amp;Tests’ section.</p>

    <h3>Why do I need English for emotional recognition?</h3>

    <p>As most emotional displays depend on the context, proficiency level of English is strictly required during annotation.</p>

    <h3>What should be the level of English for participation, then?</h3>

    <p>It’s perfect if English is your native language, but confident Upper-intermediate level is also quite enough.</p>

    <h3>Why should I try hard to detect emotions whereas others can mark them randomly and get the same amount of money?</h3>

    <p>There is a quality control system at the Emotion Miner website, which helps exclude ‘random’ annotators from the project.</p>

    <h2 id="tasks">Tasks</h2>

    <h3>What kind of tasks are there at the Emotion miner website?</h3>

    <p>A task is a set of video clips that need to be annotated. Annotation itself means watching each video fragment and marking the main emotion noticed there (chosen from several keys or pressing the ‘NO’ key if the current emotion is not on the list).</p>

    <p>There are 3 kinds of tasks: Standard Task (15 videos), Extended task (45 videos) – increased pay, Jedi Master (50 videos) – the highest pay.</p>

    <p>While accomplishing the Standard Task for the beginners a brief tutorial and a short test are offered.</p>

    <h3>Are there deadlines for the annotation?</h3>

    <p>Yes, there are. Standard Task - 1 week, Extended task - 1 week, Jedi Master - 2 weeks.</p>

    <h3>What do I need to get the money afterwards?</h3>

    <p>If you’re a beginner, you should watch the tutorial on the offered annotation scale, pass the mini-test, watch the whole video and mark the fragments according to the offered scale – after that your balance will get updated.</p>

    <p>If you have completed at least one test for each scale group (for each completed test you get a star – this can be tracked at your profile at ‘Tests’ section), then, in order to get money for the task you just need to watch the whole video and mark all the fragments.</p>

    <h3>I’m ruining the deadline, what should I do?</h3>

    <p>You may refuse finishing the task by pressing the ‘give up’ key
    and in this case, you get 50% of the payment for fully annotated videos.</p>
    <div class="text-center">
      <img src="./assets/screenshot.png" alt="" class="img-responsive">
    </div>

    <h3>I haven’t got the access to longer tasks, how can I get it?</h3>

    <p>To get a longer task, you should accomplish at least one shorter task, also you have to pass at least one mini-test for each scale group. Completed short tests are shown in the form of small stars at your profile in ‘Tutorial&amp;Tests’ section.</p>
    <div class="text-center">
      <img src="./assets/screenshot.png" alt="" class="img-responsive">
    </div>

    <p>To get the access to an Extended task, do at least one Standard Task; for access to Jedi Master task, do at least one Extended task.</p>

    <h2 id="money">Money $</h2>

    <h3>How can I earn more at Emotion miner website?</h3>

    <p>You can bring a friend and get 10% of their profit as a bonus.</p>

    <p>You can take a Jedi Master task which accounts for $70.</p>

    <h3>Which card is needed for money transfer?</h3>

    <p>It should be MasterCard or VISA.</p>

    <h3>Can money be transferred to my PayPal account or other e-wallets?</h3>

    <p>No, money can only be transferred to the following cards: MasterCard, VISA.</p>

    <h3>Can I get the money transfer into any country?</h3>

    <p>Unfortunately, money transfer around the world isn’t possible. Currently, only the residents of the USA, Canada, the EU, the UK, Russian Federation and Belarus can take part in the project.</p>

    <h3>I can’t get the money transferred onto my card, what should I do?</h3>

    <p>Money can be withdrawn from your balance only when it’s equal or more than $10.</p>

    <p>Also, money transfer is possible in the following countries: the USA, Canada, the EU, the UK, Russian Federation and Belarus.</p>

    <h3>I have annotated all the videos in the task, but my balance hasn’t been updated. What’s the matter?</h3>

    <p>Please, take the mini-test for the tutorial applied to this particular task.</p>

    <p>If you have passed the test (or there wasn’t any) and annotated all the videos in the task, but your balance hasn’t been updated, please, contact us (feedback form link).</p>

    <h3>I have marked only part of the videos in the task and would like to get money for them, how can I do this?</h3>

    <p>If you want to get money for the task partly done, you need to refuse the task by pressing the ‘give up’ key.
    In this case you get 50% of the payment for fully annotated videos.</p>
    <div class="text-center">
      <img src="./assets/screenshot.png" alt="" class="img-responsive">
    </div>

    <p>If the video isn’t annotated to the end, you don’t get the payment for it.</p>

    <h3>I’ve missed the deadline and haven’t received the money for the task partly done. How can I get this money?</h3>

    <p>Unfortunately, the tasks partly done with the deadline missed don’t get paid for (offer link, see point №). Next time make sure you have used the ‘give up’ option before the deadline in order to get money for the tasks partly done.</p>

    <h2 id="networking">Networking</h2>

    <h3>How can I share this work with my friends?</h3>

    <p>You can invite your friends by leaving their contacts here (link).</p>

    <p>You will get 10% from what your friends earn<sup>*</sup>.</p>

    <p><sup>*</sup> — <em>offer point link stating that friends are supposed to sign up in the course of 2 days</em>.</p>

    <h2 id="website-admin-contacts">Website Admin Contacts</h2>

    <p>In case you’ve got more questions, please, write here (feedback form link), e-mail us, or go to our Facebook page (link here).</p>
  </div>



  <div class="col col-xs-3">
    <ul>
      <li><a href="#about-the-project">About The Project</a></li>
      <li><a href="#sign-up--account">Sign Up / Account</a></li>
      <li><a href="#getting-started">Getting Started</a></li>
      <li><a href="#tasks">Tasks</a></li>
      <li><a href="#money">Money $</a></li>
      <li><a href="#networking">Networking</a></li>
      <li><a href="#website-admin-contacts">Website Admin Contacts</a></li>
    </ul>
  </div>
</div>




<!-- <na-tutorial></na-tutorial> -->