<div class="timeline" (dragover)="moveTick($event)">
  <div class="fragment" [ngStyle]="{
      left: startTickPosition + 'px',
      width: (endTickPosition - startTickPosition) + 'px'
    }"></div>

  <div class="bg"></div>
  <div class="positioner" (click)="setTickPosition($event)"></div>

  <div class="tick" (dragstart)="startDragTick($event, 'main')"
    [attr.data-content]="vp.videoPosition.toFixed(2)" [ngStyle]="{left: vp.tickPosition + 'px'}">
  </div>
  <div class="start" *ngIf="drag.startIsSet" (dragstart)="startDragTick($event, 'start')"
    [attr.data-content]="startFragment.toFixed(2)" [ngStyle]="{left: startTickPosition + 'px'}">
  </div>
  <div class="end" *ngIf="drag.endIsSet" (dragstart)="startDragTick($event, 'end')"
    [attr.data-content]="endFragment.toFixed(2)" [ngStyle]="{left: endTickPosition + 'px'}">
  </div>
</div>

<div class="row">
  <div class="col col-xs-6">
    <img class="clickable" src="http://imgdisk.ru/images/2017/04/18/play-button.png" alt="play"
      *ngIf="paused" (click)="playVideo()">
    <img class="clickable" src="http://imgdisk.ru/images/2017/04/18/pause.png" alt="pause"
      *ngIf="!paused" (click)="pauseVideo()">
    <button class="btn btn-default" (click)="setStartFragment($event)">Начало фрагмента</button>
    <button class="btn btn-default" (click)="setEndFragment($event)">Конец фрагмента</button>
    <button class="btn btn-default" (click)="saveFragment($event)">Записать фрагмент</button>
  </div>
  <span class="col col-xs-6 text-right">
    Скорость скролла:
    <div class="btn-group">
      <button class="btn btn-default" *ngFor="let speed of speeds"
        [ngClass]="{active: speed === scrollIncrement}"
        (click)="setScrollSpeed($event, speed)">{{ speed }} сек</button>
    </div>
  </span>
</div>