<h3>Cписок фрагментов</h3>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <td>ID</td>
      <td>Начало</td>
      <td>Конец</td>
    </tr>
  </thead>
</table>
<div class="right-col">
  <table class="table table-hover table-bordered">
    <tbody>
      <tr>
        <td>1</td>
        <td>0</td>
        <td>5</td>
      </tr>
      <tr>
        <td>2</td>
        <td>5</td>
        <td>15</td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-block btn-primary">Сохранить разметку</button>