h3 {
  margin-top: 0;
}

.table {
  margin-bottom: 0;

  tbody tr {
    cursor: pointer;
  }
}

.table tbody tr td, .table thead tr th {
  width: 40%;
}

.table tbody tr td:first-child, .table thead tr th:first-child {
  width: 20%;
}

thead {
  font-weight: 900;
}

.right-col {
  min-height: 350px;
  max-height: 350px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

button {
  position: relative;

  .fa {
    position: absolute;
    top: 2px;
    right: 5px;
  }
}