<!-- Завершённость задания -->
<div class="row">
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [ngStyle]="{'width': percentage + '%'}">
      {{ percentage }}%
    </div>
  </div>
</div>

<div class="row alert alert-warning" *ngIf="annot.isPersonShown || (annot.demoMode && annot.demoHint !== -1)">
  <span *ngIf="!annot.demoMode">
    Please consider that your task is to mark this person's emotions during the full video playback time.
    Even if you see two people in a single frame, just continue marking emotions of this person only.
  </span>
  <span *ngIf="annot.demoMode" [innerHTML]="annot.demoHints[annot.demoHint]"></span>
</div>

<!-- Интерфейс разметки -->
<div class="row">
  <!-- Список видео -->
  <div class="col col-xs-1 video-list">
    <na-annotating-videos></na-annotating-videos>
  </div>

  <!-- Видео-проигрыватель -->
  <div class="col col-xs-9 vidos">
    <na-annotating-player></na-annotating-player>
    <div class="start" *ngIf="annot.isPersonShown">
      START
    </div>
  </div>

  <!-- Список фрагментов -->
  <div class="col col-xs-2">
    <na-annotating-fragments></na-annotating-fragments>
  </div>
</div>