<!-- Завершённость задания -->
<div class="row">
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [ngStyle]="{'width': percentage + '%'}">
      {{ percentage }}%
    </div>
  </div>
</div>
<!-- Интерфейс разметки -->
<div class="row">
  <!-- Список видео -->
  <div class="col col-xs-1 video-list">
    <na-annotating-videos></na-annotating-videos>
  </div>

  <!-- Видео-проигрыватель -->
  <div class="col col-xs-9 vidos">
    <na-annotating-player></na-annotating-player>
  </div>

  <!-- Список фрагментов -->
  <div class="col col-xs-2">
    <na-annotating-fragments></na-annotating-fragments>
  </div>
</div>

<span class="btn btn-primary" data-toggle="modal" data-target=".tutorial-modal">Show tutorial</span>

<div class="modal fade tutorial-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">Tutorial</h4>
      </div>
      <div class="modal-body">
        <na-annotating-tutorial></na-annotating-tutorial>
      </div>
    </div>
  </div>
</div>