.container {
  margin-top: 20px;

  .row {
    margin-top: 20px
  }
}

.video-list {
  padding: 0;
}

.vidos {
  padding: 0;
  position: relative;

  .start {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    opacity: 0.5;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-size: 23rem;
  }
}

.fragments {
  padding-right: 0;
  padding-left: 5px;
}

.alert {
  font-size: 2.2rem;
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 15px;
  top: 51px;

  .container {
    margin-top: 0;
  }
}

.demo-hint {
  position: relative;
  width: 190px;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 20px;

  .hint-text {
    border: 4px solid orange;
    padding: 20px 10px;
  }

  .fa {
    position: absolute;
    bottom: -55px;
    font-size: 6rem;
    color: orange;
    text-shadow: 0 0 1px black;
    cursor: pointer;

    &.non-clickable {
      color: #ffcc6e;
      cursor: not-allowed;
    }

    &.fa-long-arrow-left {
      left: 20px;
    }

    &.fa-long-arrow-right {
      right: 20px;
    }
  }
}

.attention {
  position: absolute;
  z-index: 10;
  border: 4px solid orange;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .alert {
    font-size: 2.1rem;
    padding: 5px;
  }

  .demo-hint {
    width: 160px;
    font-size: 1.5rem;

    .fa {
      bottom: -50px;
      font-size: 5rem;

      &.fa-long-arrow-left {
        left: 10px;
      }

      &.fa-long-arrow-right {
        right: 10px;
      }
    }
  }
}