.btn-group {
  margin: 0 0 20px 0;
}

.or {
  button {
    width: 270px;

    &:nth-child(2) {
      width: 90px;
    }
  }
}

.and {
  button {
    width: 220px;

    &:first-child {
      width: 90px;
    }
  }
}

.btn-default:focus {
  color: #333;
  background: none;
  border-color: #ccc;

  &.active {
    background-color: #e6e5e5
  }
}

.alert {
  text-align: left;
  line-height: 1.7;

  kbd {
    padding: 2px 6px;
    font-size: 90%;
    background-color: rgba(51, 51, 51, 0.58);
  }
}

.main-panel {
  position: relative;

  .emotions-definitions {
    position: absolute;
    right: 65px;
    top: 0;
    font-size: 11.5rem;
    color: gray;
    cursor: pointer;

    &.and {
      right: 30px;
      top: 0;
      font-size: 5rem;
    }

    &:hover {
      color: black;
    }
  }
}