<!-- Кнопки выставления оценки -->
<div class="main-panel" *ngIf="annot.cf !== -1">
  <!-- 1–5 -->
  <div class="btn-group" *ngIf="boxType === '5'">
    <button class="btn btn-lg btn-default"
      *ngFor="let n of [1, 2, 3, 4, 5]"
      (click)="annot.rateFragment(n)">{{ n }}</button>
  </div>

  <!-- -2–2 -->
  <div class="btn-group" *ngIf="boxType === '2'">
    <button class="btn btn-lg btn-default"
      *ngFor="let n of [1, 2, 3, 4, 5]"
      (click)="annot.rateFragment(n)">{{ n - 3 }}</button>
  </div>

  <!-- ИЛИ -->
  <div class="or" *ngIf="boxType === 'OR'">
    <!-- Первая пара -->
    <div class="btn-group">
      <button class="btn btn-lg btn-default" (click)="annot.uncheckEmos(1); annot.checkEmo(0)"
        [ngClass]="{active: annot.rating[0][annot.cf] === 1}">
        {{ annot.emotions[annot.task.FIDs[this.annot.FID].emotions[0]].title }}
      </button>
      <button class="btn btn-lg btn-default" (click)="annot.uncheckEmos(0, 1)"
        [ngClass]="{active: annot.rating[0][annot.cf] === 0 && annot.rating[1][annot.cf] === 0}">
        None
      </button>
      <button class="btn btn-lg btn-default" (click)="annot.uncheckEmos(0); annot.checkEmo(1)"
        [ngClass]="{active: annot.rating[1][annot.cf] === 1}">
        {{ annot.emotions[annot.task.FIDs[this.annot.FID].emotions[1]].title }}
      </button>
    </div><br>
    <!-- Вторая пара -->
    <div class="btn-group">
      <button class="btn btn-lg btn-default" (click)="annot.uncheckEmos(3); annot.checkEmo(2)"
        [ngClass]="{active: annot.rating[2][annot.cf] === 1}">
        {{ annot.emotions[annot.task.FIDs[this.annot.FID].emotions[2]].title }}
      </button>
      <button class="btn btn-lg btn-default" (click)="annot.uncheckEmos(2, 3)"
        [ngClass]="{active: annot.rating[2][annot.cf] === 0 && annot.rating[3][annot.cf] === 0}">
        None
      </button>
      <button class="btn btn-lg btn-default" (click)="annot.uncheckEmos(2); annot.checkEmo(3)"
        [ngClass]="{active: annot.rating[3][annot.cf] === 1}">
        {{ annot.emotions[annot.task.FIDs[this.annot.FID].emotions[3]].title }}
      </button>
    </div>
  </div>

  <!-- И -->
  <div class="and btn-group" *ngIf="boxType === 'AND'">
    <button class="btn btn-lg btn-default" (click)="annot.uncheckEmos('all')"
      [ngClass]="{active: annot.rating[0][annot.cf] === 0 && annot.rating[1][annot.cf] === 0 && annot.rating[2][annot.cf] === 0}">
      None
    </button>
    <button class="btn btn-lg btn-default"
      *ngFor="let EID of annot.task.FIDs[this.annot.FID].emotions; let i = index"
      [ngClass]="{active: annot.rating[i][annot.cf] === 1}"
      (click)="annot.checkEmo(i)">
      {{ annot.emotions[EID].title }}
    </button>
  </div>

  <!-- Подсказка -->
  <div class="alert alert-info" role="alert">
    <span class="fa fa-lg fa-info-circle"></span>
    You can use keyboard buttons
      <kbd>1</kbd>
      <kbd>2</kbd>
      <kbd>3</kbd>
      <span *ngIf="boxType === 'AND'">
        <kbd>4</kbd>
      </span>
      <span *ngIf="boxType === 'OR'">
        <kbd>q</kbd>
        <kbd>w</kbd>
        <kbd>e</kbd>
      </span>
    to select proper emotional condition.<br>

    <span class="fa fa-lg fa-info-circle"></span>
    Also use <kbd>&#x2193;</kbd> to repeat fragment and <kbd>&#x2190;</kbd> <kbd>&#x2192;</kbd> to choose fragment.
  </div>

  <div class="fa fa-question-circle-o emotions-definitions" data-toggle="modal" data-target=".emotions-definitions-modal"></div>
</div>

<div class="modal fade emotions-definitions-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Emotions Definitions</h4>
      </div>
      <div class="modal-body">
        <na-profile-emotions-definitions></na-profile-emotions-definitions>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>