<div *ngIf="isLoaded">
  <!-- Описание формирования рейтинга -->
  <p>
    The project’s dynamics and current personal ratings:
  </p>

  <!-- Таблица с рейтингом -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>First&Second Name</th>
        <th>Completed tasks</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.completed }}</td>
        <td>{{ user.rating }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Индикатор загрузки страницы -->
<na-loader-big *ngIf="!isLoaded"></na-loader-big>