<!--
  Публикуется по решению заказчика.
  Иногда используется в качестве дополнительной мотивации, например, призы лучшим 3 аннотаторам по проекту.
-->
<p>
  Методика подсчета рейтинга раскрывается на этой же странице.
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>First&Second Name</th>
      <th>Completed tasks</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.firstName + ' ' + user.secondName }}</td>
      <td>{{ user.projects }}</td>
      <td>{{ user.rating }}</td>
    </tr>
  </tbody>
</table>