<div class="container">
  <div class="row">
    <div class="col col-md-4 col-md-push-4 col-sm-6 col-sm-push-2">
      <!-- Логотип -->
      <div class="text-center">
        <img class="img-responsive" src="assets/logo.png" alt="logo">
      </div>

      <!-- Форма смены пароля -->
      <form [formGroup]="form" (ngSubmit)="changePassword($event)">
        <div class="form-group">
          <label for="password">New password</label>
          <input type="password" class="form-control" id="password"
            formControlName="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-success btn-block" [ngClass]="{disabled: loading || !form.valid}">
          Change password and sign in
          <!-- Индикатор загрузки -->
          <na-loader-inbtn *ngIf="loading"></na-loader-inbtn>
        </button>
      </form>
    </div>
  </div>
</div>