.table {
  margin-bottom: 0;

  tbody tr td, thead tr th {
    width: 28%;

    &:first-child {
      width: 16%;
    }
  }
}

.right-col {
  max-height: 500px;
  overflow-y: scroll;
  margin: 0 0 20px 0;

  .table-hover tr {
    cursor: pointer;
  }
}