<!-- Заголовок -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Annotated</th>
    </tr>
  </thead>
</table>

<!-- Контент -->
<div class="right-col">
  <table class="table table-hover table-bordered">
    <tbody>
      <tr *ngFor="let row of annot.csv; let i = index" [ngClass]="{
        success: annot.rated[i],
        warning: annot.cf === i,
        danger: annot.cf > i && !annot.rated[i]
      }" (click)="annot.setFragment(i)"
         (mouseover)="tooltip = true; tooltipY = (1 + i) * 36 - 77 - 11"
         (mouseleave)="tooltip = false">
        <td>{{ i + 1 }}</td>
        <td>
          <span class="fa fa-times" *ngIf="!annot.rated[i]"></span>
          <span class="fa fa-check" *ngIf="annot.rated[i]"></span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="tooltip-notice" *ngIf="tooltip" [ngStyle]="{top: tooltipY + 'px'}">
    You can change your choice by selecting the fragment.
  </div>
</div>