<div class="container">
  <div class="row">
    <div class="col col-xs-4 col-xs-push-4">
      <div class="text-center">
        <img src="assets/logo.png" alt="logo">
      </div>
      <div class="text-right">
        <button class="btn btn-link" (click)="formType = 'forgot'" *ngIf="formType !== 'forgot'">Forgot password</button>
        <button class="btn btn-link" (click)="formType = 'login'" *ngIf="formType !== 'login'">Sign in</button>
        <button class="btn btn-link" (click)="formType = 'reg'" *ngIf="formType !== 'reg'">Sign up</button>
      </div>
      <na-forgot-pass *ngIf="formType === 'forgot'"></na-forgot-pass>
      <na-sign-in *ngIf="formType === 'login'"></na-sign-in>
      <na-sign-up *ngIf="formType === 'reg'"></na-sign-up>
    </div>
  </div>
</div>