<button class="btn btn-default" (click)="return()">
  <span class="fa fa-angle-left"></span> Return to project list
</button>
<h1>{{ projectName }}</h1>
<p>
  При нажатии на название проекта открывается страница проекта, где заказчик описывает объем работы, предоставляет описание как работать с контентом, прикрепляет картинки и видео с необходимыми результатами, или видео с процессом выполнения разметки.
</p>
<p>
  Процент выполнения. Заказчик определяет минимальный объем работы для аннотатора, например, разметка 20 видео по 3 шкалам это один оплачиваемый блок. После окончания можно взять еще один блок.
</p>
<p>
  Срок сдачи. Если заказчик определяет минимальный объем работы, и срок, то он указывается правее статуса. В сроке указано время и часовой пояс.
</p>