<!-- Список поступивших поручений на вывод денег -->
<div *ngIf="isLoaded">
  <!-- Таблица с запросами на вывод средств -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date & Time</th>
        <th>Annotator</th>
        <th>Amount</th>
        <th>Defrayed</th>
      </tr>
    </thead>
    <tbody>
      <tr data-toggle="modal" data-target="#requestInfo"
        *ngFor="let request of requests; let i = index"
        (click)="requestId = i"
        [ngClass]="{
          success: request.bill.isDefrayed,
          danger: !request.bill.isDefrayed
        }">
        <td>{{ request.date | date:'dd.MM.yyyy HH:mm:ss' }}</td>
        <td>{{ request.user.firstName + ' ' + request.user.secondName }}</td>
        <td>{{ request.bill.amount }}</td>
        <td>
          <span class="fa fa-check text-success" *ngIf="request.bill.isDefrayed"></span>
          <span class="fa fa-times text-danger" *ngIf="!request.bill.isDefrayed"></span>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Модальное окно с данными по запросу -->
  <div class="modal fade" id="requestInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Заголовок -->
        <div class="modal-header">
          <h3 class="text-center">Request of {{ requests[requestId].date | date:'dd.MM.yyyy HH:mm:ss' }}</h3>
        </div>

        <!-- Данные запроса -->
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr *ngFor="let data of requestDataFiller">
                <td>{{ data.title }}</td>
                <td>{{ data.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Возможные действия -->
        <div class="modal-footer">
          <!-- Отменить -->
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

          <!-- Подтвердить оплату -->
          <button type="submit" class="btn"
            [ngClass]="{
              'btn-success': requests[requestId].bill.isDefrayed,
              'btn-danger': !requests[requestId].bill.isDefrayed,
              disabled: isDefraing
            }"
            (click)="defray()">
            <!-- Иконка -->
            <span class="fa" [ngClass]="{
              'fa-check': requests[requestId].bill.isDefrayed && !isDefraing,
              'fa-times': !requests[requestId].bill.isDefrayed && !isDefraing,
              'fa-cog': isDefraing,
              'fa-spin': isDefraing
            }"></span>
            {{ requests[requestId].bill.isDefrayed ? "Defrayed" : "Not defrayed" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Индикатор загрузки страницы -->
<na-loader-big *ngIf="!isLoaded"></na-loader-big>