<!-- Список доступных шкал оценок -->
<select class="form-control">
  <option>Emotion1</option>
  <option>Emotion2</option>
  <option>Emotion3</option>
  <option>Emotion4</option>
</select>

<!-- Список фрагментов -->
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Начало</th>
      <th>Конец</th>
      <th>Оценка</th>
    </tr>
  </thead>
</table>
<div class="right-col">
  <table class="table table-hover table-bordered">
    <tbody>
      <tr *ngFor="let row of csv; let i = index" [ngClass]="{
        warning: currentFragment === i,
        success: row[3] !== -1
      }">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button id="save" class="btn btn-primary btn-block">Сохранить</button>