<video id="currentVideo" width="100%" class="video-js" preload="auto">
  <source src="{{currentVideo}}" type='video/mp4'>
</video>

<div class="row">
  <div class="col col-xs-2 text-right">
    00:00:07.00
  </div>
  <div class="col col-xs-8">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="2" aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
  </div>
  <div class="col col-xs-2">
    00:00:10.00
  </div>
</div>

<div class="text-center">
  <!-- Панель навигации -->
  <div class="video-navigation">
    <a href="#" (click)="videoContainer.play()">
      <img src="http://imgdisk.ru/images/2017/04/18/play-button.png" alt="play">
    </a>

    <a href="#">
      <img src="http://imgdisk.ru/images/2017/04/18/stop.png" alt="stop">
    </a>

    <a href="#" (click)="videoContainer.pause()">
      <img src="http://imgdisk.ru/images/2017/04/18/pause.png" alt="pause">
    </a>

    <a href="#">
      <img src="http://imgdisk.ru/images/2017/04/18/replay.png" alt="repeat">
    </a>

    <a href="#">
      <img src="http://imgdisk.ru/images/2017/04/18/back.png" alt="step-backward">
    </a>

    <a href="#">
      <img src="http://imgdisk.ru/images/2017/04/18/next.png" alt="step-forward">
    </a>
  </div>

  <!-- Кнопки выставления оценки -->
  <div class="btn-group">
    <button class="btn btn-lg btn-default"
      *ngFor="let n of [1, 2, 3, 4, 5]"
      (click)="push.saveThisMark(n)">{{ n }}</button>
  </div>
</div>

<p>
  Для выставления оценки используйте клавиши 1, 2, 3, 4 и 5 или соответствующие кнопки.<br>
  Для перехода к следующему или предыдущему фрагменту используйте стрелки влево или вправо.<br>
  Стрелка вниз — повторить фрагмент. Shift — смена разметки.
</p>