<div class="container">
  <button class="btn btn-default" (click)="return()">
    <span class="fa fa-angle-left"></span> Return to project list
  </button>
  <h2>Event selection</h2>
  <div class="form-group">
    <label for="task">Task:</label><br>
    <select id="task" class="form-control" [(ngModel)]="vp.task" [disabled]="this.vp.cf !== -1">
      <option *ngFor="let task of common.task.tasks; let i = index" value="{{ i }}">{{ task.title }}</option>
    </select>
    <div class="pics">
      <span>
        <img src="{{ common.task.person.image }}" alt="{{ common.task.person.name }}" class="img-circle">{{ common.task.person.name }}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-9">
      <na-video-to-mark></na-video-to-mark>
    </div>
    <div class="col col-xs-3">
      <na-new-fragments [video]="video"></na-new-fragments>
    </div>
  </div>
  <div>
    <na-timeline></na-timeline>
  </div>
</div>