<div class="container">
  <button class="btn btn-default" (click)="return()">
    <span class="fa fa-angle-left"></span> Return to project list
  </button>
  <h2>Event selection</h2>
  <div class="form-group">
    <label for="task">Task:</label><br>
    <select id="task" class="form-control" [(ngModel)]="vp.task" [disabled]="this.vp.cf !== -1">
      <option *ngFor="let task of common.conf.tasks; let i = index" value="{{ i }}">{{ task }}</option>
    </select>
    <div class="pics">
      <span *ngIf="vp.task == 0 || vp.task == 2 || vp.task == 4">
        <img src="{{ common.conf.pathToData + common.cv + '_person1.png' }}" alt="Person 1" class="img-circle">Человек 1
      </span>
      <span *ngIf="vp.task == 1 || vp.task == 3 || vp.task == 4">
        <img src="{{ common.conf.pathToData + common.cv + '_person2.png' }}" alt="Person 2" class="img-circle">Человек 2
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-9">
      <na-video-to-mark></na-video-to-mark>
    </div>
    <div class="col col-xs-3">
      <na-new-fragments [video]="video"></na-new-fragments>
    </div>
  </div>
  <div>
    <na-timeline></na-timeline>
  </div>
</div>