<!-- Панель навигации -->
<div class="text-center">
  <div class="video-navigation">
    <a href="#" (click)="playVideo()">
      <img src="http://imgdisk.ru/images/2017/04/18/play-button.png" alt="play">
    </a>

    <a href="#" (click)="stopVideo()">
      <img src="http://imgdisk.ru/images/2017/04/18/stop.png" alt="stop">
    </a>

    <a href="#" (click)="pauseVideo()">
      <img src="http://imgdisk.ru/images/2017/04/18/pause.png" alt="pause">
    </a>

    <a href="#" (click)="replayVideo()">
      <img src="http://imgdisk.ru/images/2017/04/18/replay.png" alt="repeat">
    </a>

    <a href="#" (click)="common.setFragment(common.cf - 1)">
      <img src="http://imgdisk.ru/images/2017/04/18/back.png" alt="step-backward">
    </a>

    <a href="#" (click)="common.setFragment(common.cf + 1)">
      <img src="http://imgdisk.ru/images/2017/04/18/next.png" alt="step-forward">
    </a>
  </div>
</div>