<!-- Панель навигации -->
<div class="text-center">
  <div class="video-navigation">
    <img src="http://imgdisk.ru/images/2017/04/18/play-button.png" alt="play" (click)="playVideo()">

    <img src="http://imgdisk.ru/images/2017/04/18/stop.png" alt="stop" (click)="stopVideo()">

    <img src="http://imgdisk.ru/images/2017/04/18/pause.png" alt="pause" (click)="pauseVideo()">

    <img src="http://imgdisk.ru/images/2017/04/18/replay.png" alt="repeat" (click)="replayVideo()">

    <img src="http://imgdisk.ru/images/2017/04/18/back.png" alt="step-backward" (click)="common.setFragment(common.cf - 1)">

    <img src="http://imgdisk.ru/images/2017/04/18/next.png" alt="step-forward" (click)="common.setFragment(common.cf + 1)">
  </div>
</div>