.btn-group {
  margin: 0 0 20px 0;
}

.or {
  button {
    width: 270px;

    &:nth-child(2) {
      width: 90px;
    }
  }
}

.and {
  button {
    width: 220px;

    &:first-child {
      width: 90px;
    }
  }
}

.btn-default:focus {
  color: #333;
  background: none;
  border-color: #ccc;

  &.active {
    background-color: #e6e5e5
  }
}