<!-- Проигрыватель -->
<div class="video">
  <!-- Стандартный HTML5 -->
  <video id="currentVideo" width="100%" preload="auto" [ngClass]="{hidden: annot.isYouTube}">
    <source src="{{ currentVideo }}" type='video/mp4'>
  </video>

  <!-- YouTube iframe -->
  <div [ngClass]="{hidden: !annot.isYouTube}">
    <div id='youtube'></div>
  </div>

  <!-- Блок, блокирующий клики -->
  <div class="shield">
    <span class="fa fa-repeat" *ngIf="annot.isReplayButtonVisible" (click)="replayVideo()"></span>
  </div>
</div>