<form>
  <div class="form-group">
    <label for="Login">Nickname</label>
    <input type="text" class="form-control" id="Login" placeholder="johndoe_42">
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" id="email" placeholder="johndoe_42@gmail.com">
  </div>

  <!-- (если залогонился через фейсбук, то отображать здесь сразу) Если нет, просить указать обязательно ссылку на профиль  -->
  <div class="form-group">
    <label for="email">Соцсети</label>
    <input type="email" class="form-control" id="email" placeholder="vk, fb, ok">
  </div>

  <div class="form-group">
    <label for="email">Телефон</label>
    <input type="email" class="form-control" id="email" placeholder="+79261234567">
  </div>

  <button class="btn btn-default btn-block">Сменить пароль</button><br>

  <button type="submit" class="btn btn-primary btn-block disabled" (click)="selectProfileMode('taskList')">Save</button>
</form>