<!-- Progress Bar -->
<div class="row">
  <!-- Начало фрагмента -->
  <div class="col col-xs-2 text-right">
    {{ fragmentStart | time }}
  </div>

  <!-- Полоса воспроизведения -->
  <div class="col col-xs-8">
    <div class="progress">
      <div class="progress-bar" role="progressbar" [ngStyle]="{width: percentage + '%'}">
        <span class="sr-only">{{ percentage }}% Complete</span>
      </div>
    </div>
  </div>

  <!-- Конец фрагмента -->
  <div class="col col-xs-2">
    {{ fragmentEnd | time }}
  </div>
</div>