.modal-body {
  .table {
    margin-bottom: 0;

    tr {
      &:first-child {
        td {
          border-top: none;
        }
      }

      td {
        &:first-child {
          text-align: right;
          font-weight: 900;
        }
      }
    }
  }
}