<div *ngIf="!loading">
  <div class="progress">
    <div class="progress-bar progress-bar-info" [ngStyle]="{width: progressPercentage + '%'}">
      {{ progressPercentage }}%
    </div>
  </div>

  <div class="screen screen-first" *ngIf="screen === 1">
    <h2>Tutorial</h2>
    <ul class="fa-ul">
      <li class="text-info"><span class="fa-li fa fa-graduation-cap"></span>Learn new skills</li>
      <li class="text-success"><span class="fa-li fa fa-smile-o"></span>Study emotions</li>
      <li class="text-warning"><span class="fa-li fa fa-money"></span>Earn money</li>
    </ul>
  </div>

  <div class="screen" *ngIf="screen === 2">
    <h3>Skill: {{ tutorial.skill }}</h3>
    <p>
      <i><span *ngFor="let e of tutorial.emotions; let i = index">{{ i > 0 ? ' — ' : '' }}{{ e.title }}</span></i>
    </p>
    <div class="img-row">
      <img *ngFor="let pic of tutorial.emotions" src="https://storage.cloud.google.com/emo_pic/{{ pic.img }}.jpg" alt="{{ pic.img }}">
    </div>
  </div>

  <div class="screen" *ngIf="screen === 3 && example === 0">
    <h4>{{ tutorial.emotions[emotion].title }}: definition</h4>
    <p>
      <strong>{{ tutorial.emotions[emotion].title }}</strong> is {{ tutorial.emotions[emotion].definition }}
    </p>
    <p *ngIf="tutorial.emotions[emotion].types">
      <i><span *ngFor="let type of tutorial.emotions[emotion].types; let j = index">{{ j > 0 ? ' — ' : '' }}{{ type }}</span></i>
    </p>
    <p *ngIf="tutorial.emotions[emotion].title2">
      <strong>{{ tutorial.emotions[emotion].title2 }}</strong> is {{ tutorial.emotions[emotion].definition2 }}
    </p>
    <p *ngIf="tutorial.emotions[emotion].types2">
      <i><span *ngFor="let type of tutorial.emotions[emotion].types2; let j = index">{{ j > 0 ? ' — ' : '' }}{{ type }}</span></i>
    </p>

    <img class="img-responsive" src="https://storage.cloud.google.com/emo_pic/{{ tutorial.emotions[emotion].img }}.jpg" alt="{{ tutorial.emotions[emotion].img }}">

    <button class="btn btn-link" *ngIf="tutorial.emotions[emotion].more" (click)="more = 1 - more">More</button>
    <p *ngIf="tutorial.emotions[emotion].more && more === 1" [innerHTML]="tutorial.emotions[emotion].more">
    </p>
  </div>

  <div class="screen" *ngIf="tutorial.emotions[emotion].examples && screen === 3 && example > 0">
    <h4>{{ tutorial.emotions[emotion].title }}: examples</h4>
    <div class="video" (click)="playVideo($event, tutorial.emotions[emotion].examples[example - 1])">
      <video class="tutorialVideo" id="tutorialVideo" preload="auto">
        <source src="" type='video/mp4' controls="controls">
      </video>
      <div class="play-button" *ngIf="videoPaused[0]">
        <img src="https://storage.googleapis.com/video_tutorial/s_({{ tutorial.emotions[emotion].examples[example - 1] }}).mp4.jpg" alt="video" class="img-responsive">
        <div class="cover"></div>
        <span class="fa fa-play"></span>
      </div>
    </div>
  </div>

  <div class="screen" *ngIf="screen === 4">
    <h4>Test: {{ tutorial.skill }}</h4>
    <p>
      <i><span *ngFor="let em of tutorial.emotions; let i = index">{{ i > 0 ? ' — ' : '' }}{{ em.title }}</span></i>
    </p>
    <span class="fa fa-question-circle fa-lg text-info" *ngIf="!manual" (click)="manual = true"></span>
    <p *ngIf="manual">Now you have a set of video clips and different emotion labels. Please identify an emotion in each video, fill the gaps below with the corresponding labels. There is a second chance to correct yourself if the chosen label is wrong.</p>
  </div>

  <div class="screen" *ngIf="screen === 5">
    <div class="test" *ngIf="test !== undefined">
      <div class="row text-center">
        <div class="col col-xs-4" *ngFor="let pair of tutorial.tests[test]; let i = index"
          [ngClass]="{'clear-fix': i === 3}">
          <div class="video small-video" (click)="playVideo($event, pair.video, i)">
            <video class="tutorialVideo" id="tutorialVideo_{{ i }}" preload="auto">
              <source src="" type='video/mp4' controls="controls">
            </video>
            <div class="play-button" *ngIf="videoPaused[i]">
              <img src="https://storage.googleapis.com/video_tutorial/s_({{ pair.video }}).mp4.jpg" alt="video" class="img-responsive">
              <div class="cover"></div>
              <span class="fa fa-play"></span>
            </div>
          </div>
          <div class="lbl">
            <span class="empty slot" [attr.data-label]="pair.label">{{ pair.personOnTheLeft ? "person on the left" : "person in the middle" }}</span>
          </div>
        </div>
      </div>
      <div class="row lbl">
        <span class="answer" *ngFor="let label of labels[test]">{{ label }}</span>
      </div>
    </div>
  </div>

  <span class="next fa fa-arrow-circle-right" (click)="nextScreen()" *ngIf="screen !== 5"></span>
  <span class="back fa fa-arrow-circle-left" (click)="previousScreen()" *ngIf="screen !== 1 && !justTest"></span>
</div>