.screen {
  min-height: 680px;
  font-size: 3rem;
  padding: 0 20px;
  padding-bottom: 40px;

  .img-row {
    img {
      width: 275px;
    }
  }
  .img-responsive {
    margin: 0 auto;
  }

  .btn-link {
    font-size: 3rem;
  }

  h3, h4 {
    font-size: 4rem;
  }

  .fa-question-circle {
    cursor: pointer;
  }

  &.screen-first {
    h2 {
      text-align: center;
      font-size: 14rem;
      text-transform: uppercase;
      padding-top: 110px;
    }

    .fa-ul {
      font-size: 5rem;
      padding: 20px 170px;
    }
  }

  .video {
    text-align: center;
    position: relative;
    height: 552px;
    cursor: pointer;

    &.small-video {
      height: 171px;

      .play-button {
        .fa {
          left: 41%;
          top: 45px;
          font-size: 8rem;
        }
      }
    }

    video {
      width: 100%;
    }

    .play-button {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      img {
        position: absolute;
        width: 100%;
      }

      .cover {
        background-color: black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
      }

      .fa {
        position: absolute;
        left: 47%;
        top: 205px;
        font-size: 13rem;
        text-shadow: 0px 0px 10px grey;
        color: white;
        opacity: 0.8;
      }
    }
  }

  .test {
    height: 300px;

    .lbl {
      text-align: center;

      span {
        display: inline-block;
        background-color: orange;
        color: white;
        padding: 9px 5px;
        margin-bottom: 20px;
        width: 256px;
        height: 57px;
        cursor: pointer;
        border: 2px solid #fff;
        // outline: 2px solid #fff;
        font-size: 2.4rem;

        &.ui-draggable-dragging {
          z-index: 2;
        }

        &.answer {
          margin: 0 5px 10px 5px;
        }

        &.empty {
          background-color: #fff;
          border: 2px solid orange;
          color: #000;

          &.ui-droppable-hover {
            background-color: lighten(orange, 30);
          }
        }
      }
    }
  }
}

.next, .back {
  cursor: pointer;
  color: lighten(#00b3ff, 20);
  position: absolute;
  bottom: 5px;
  font-size: 6rem;
}

.next {
  right: 10px;
}

.back {
  left: 10px;
}

.clear-fix {
  clear: left;
}