<!-- Заголовок -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Начало</th>
      <th>Конец</th>
      <th>Оценка</th>
    </tr>
  </thead>
</table>

<!-- Контент -->
<div class="right-col">
  <table class="table table-hover table-bordered">
    <tbody>
      <tr *ngFor="let row of annot.csv; let i = index" [ngClass]="{
        success: annot.rating[annot.emotion][i] !== -1,
        warning: annot.cf === i,
        danger: annot.cf > i && annot.rating[annot.emotion][i] === -1
      }" (click)="annot.setFragment(i)">
        <td>{{ i + 1 }}</td>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{
          annot.rating[annot.emotion][i] === -1 ?
            "—" :
            annot.task.emotions[annot.emotion].scale === 2 ?
              annot.rating[annot.emotion][i] - 3 :
              annot.rating[annot.emotion][i]
        }}</td>
      </tr>
    </tbody>
  </table>
</div>