<na-project *ngIf="projectMode" [projectId]="projectId" (returned)="projectMode = false"></na-project>
<div *ngIf="!projectMode && isLoaded">
  <div class="task" *ngFor="let project of projects; let i = index"
    [ngClass]="{locked: i !== 0}"
    (click)="taskSelected(project)">
    {{ project.projectName }}
    <span class="fa fa-cog fa-spin" *ngIf="loadingTask === i"></span>
    <div class="description" *ngIf="project.annoTask">
      <span>Completed: {{ project.annoTask.percentage }}%</span>
      <span>Earned: {{ project.annoTask.earned }}/{{ project.pricePerTask }}</span>
    </div>
    <span class="fa fa-lock fa-5x"></span>
  </div>
  <!-- *ngIf="!project.isProcessing && loadingTask !== i" -->
  <!-- (click)='viewProjectDescription(project.id)' -->
</div>

<div class="loading">
  <span class="fa fa-cog fa-spin fa-5x" *ngIf="!isLoaded"></span>
</div>