<na-project *ngIf="projectMode" [projectId]="projectId" (returned)="projectMode = false"></na-project>
<div *ngIf="!projectMode && isLoaded">
  <!-- Задания -->
  <h2>Projects</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Activity</th>
        <th>Completed</th>
        <th>Earned</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; let i = index">
        <td>{{ i + 1 }}</td>
        <td><a href="#" (click)='viewProjectDescription(project.id)'>
          {{ project.title }}
        </a></td>
        <td>{{ project.activity }}</td>
        <td>{{ project.percentage }}%</td>
        <td>{{ project.earned }}/{{ project.price }}</td>
        <td>
          <a href="#" (click)="project.action.doIt($event)" *ngIf="!project.isProcessing">
            {{ project.action.title }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>