<div class="row">
  <div class="col col-md-4 col-md-push-4 col-sm-6 col-sm-push-3">
    <form [formGroup]="form" (ngSubmit)="signUp($event)">
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Doe, John">
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <div>
          <div class="radio-inline">
            <label>
              <input formControlName="gender" type="radio" name="gender" value="male">
              male
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input formControlName="gender" type="radio" name="gender" value="female">
              female
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input formControlName="gender" type="radio" name="gender" value="other">
              other
            </label>
          </div>
        </div>
      </div>

      <!-- Календарик -->
      <div class="form-group">
        <label for="birthdate">Birthdate</label>
        <input formControlName="birthdate" type="date" class="form-control" id="birthdate" placeholder="12.12.2012">
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <div class="typeahead__container">
          <div class="typeahead__field">
            <span class="typeahead__query">
              <input formControlName="country" class="form-control" id="country"
                type="search"
                autocomplete="off">
            </span>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="countrySelected">
        <label for="city">City/Town</label>
        <div class="typeahead__container">
          <div class="typeahead__field">
            <span class="typeahead__query">
              <input formControlName="city" class="form-control" id="city"
                type="search"
                autocomplete="off">
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="language">Native language</label>
        <div class="typeahead__container">
          <div class="typeahead__field">
            <span class="typeahead__query">
              <input formControlName="language" class="form-control" id="language"
                type="search"
                autocomplete="off">
            </span>
          </div>
        </div>
      </div>

      <!-- Пройти тест и отобразить результат рядом -->
      <div class="form-group">
        <label for="english">English level</label>
        <span class="fa fa-check"></span>
        <span class="fa fa-times"></span><br>
        <input formControlName="english" type="hidden">
        <button class="btn btn-primary" data-toggle="modal" data-target=".english-test-modal">Pass the test</button>
      </div>

      <div class="form-group">
        <label for="family">Family status</label>
        <select formControlName="family" class="form-control">
          <option>married</option>
          <option selected>single</option>
          <option>divorced</option>
          <option>widowed</option>
          <option>other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="education">Education</label>
        <select formControlName="education" class="form-control">
          <option>Primary education</option>
          <option>Secondary school</option>
          <option selected>Higher education</option>
        </select>
      </div>

      <!-- если выбрано "Higher education" -->
      <div class="form-group">
        <label for="university">University</label>
        <div class="typeahead__container">
          <div class="typeahead__field">
            <span class="typeahead__query">
              <input formControlName="university" class="form-control" id="university"
                type="search"
                autocomplete="off">
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="specialty">Specialty</label>
        <input formControlName="specialty" type="text" class="form-control" id="specialty" placeholder="Engineer">
      </div>

      <div class="form-group">
        <label for="profession">Profession</label>
        <input formControlName="profession" type="text" class="form-control" id="profession" placeholder="Professor">
      </div>

      <!-- теги на выбор по темам -->
      <div class="form-group">
        <label for="hobby">Hobbies</label>
        <textarea formControlName="hobby" class="form-control" id="hobby" rows="3">спорт, искусство, tech</textarea>
      </div>

      <div class="checkbox">
        <label>
          <input formControlName="personalDataAgreement" type="checkbox"> I agree to the processing of my personal data.
        </label>
      </div>

      <button type="submit" class="btn btn-primary btn-block disabled">Save changes</button>
    </form>
  </div>
</div>

<div class="modal fade english-test-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">English test</h4>
      </div>
      <div class="modal-body">
        <p>Here is your english test.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit results</button>
      </div>
    </div>
  </div>
</div>