<form>
  <div class="form-group">
    <label for="firstName">Name</label>
    <input type="text" class="form-control" id="firstName" placeholder="Doe, John">
  </div>

  <div class="form-group">
    <label for="secondName">Gender</label>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        female
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        male
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
        other
      </label>
    </div>
  </div>

  <!-- Календарик -->
  <div class="form-group">
    <label for="secondName">Дата рождения (возраст)</label>
    <input type="text" class="form-control" id="secondName" placeholder="12.12.2012">
  </div>

  <!-- из БД -->
  <div class="form-group">
    <label for="secondName">Страна проживания</label>
    <input type="text" class="form-control" id="secondName" placeholder="Russian Federation">
  </div>

  <!-- из БД -->
  <!-- http://www.geodatasource.com/world-cities-database/free -->
  <div class="form-group">
    <label for="secondName">Город проживания</label>
    <input type="text" class="form-control" id="secondName" placeholder="Moscow">
  </div>

  <!-- из БД -->
  <div class="form-group">
    <label for="secondName">Родной язык</label>
    <input type="text" class="form-control" id="secondName" placeholder="Русский, English, Deutsch, Français, Español,
Հայերեն">
  </div>

  <!-- Пройти тест и отобразить результат рядом -->
  <div class="form-group">
    <label for="secondName">Уровень владения английским</label>
    <button class="btn btn-primary">Пройти тест</button>
  </div>

  <div class="form-group">
    <label for="secondName">Семейное положение</label>
    <select class="form-control">
      <option>married</option>
      <option selected>single</option>
      <option>divorced</option>
      <option>widowed</option>
      <option>other</option>
    </select>
  </div>

  <div class="form-group">
    <select class="form-control">
      <option>Primary education</option>
      <option>Secondary school</option>
      <option selected>Higher education</option>
    </select>
  </div>

  <!-- из БД, если выбрано "Higher education" -->
  <div class="form-group">
    <label for="secondName">Университет</label>
    <input type="text" class="form-control" id="secondName" placeholder="MIT">
  </div>

  <div class="form-group">
    <label for="secondName">Специальность</label>
    <input type="text" class="form-control" id="secondName" placeholder="Engineer">
  </div>

  <div class="form-group">
    <label for="secondName">Профессия</label>
    <input type="text" class="form-control" id="secondName" placeholder="Professor">
  </div>

  <!-- теги на выбор по темам -->
  <div class="form-group">
    <label for="secondName">Увлечения</label>
    <textarea class="form-control" rows="3">спорт, искусство, tech</textarea>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"> Я согласен на обработку моих персональных данных.
    </label>
  </div>

  <button type="submit" class="btn btn-primary btn-block disabled" (click)="selectProfileMode('taskList')">Сохранить изменения</button>
</form>