.form-group {
  label {
    color: black;
  }
}

.radio-inline {
  label {
    font-weight: 400;
    cursor: pointer;
  }
}

.freespace {
  min-height: 50px;
}

.table {
  .tutorial {
    line-height: 3.2;
  }

  .star {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 60px;

    .fa-star {
      color: #aaa;

      &.done {
        color: #d5da2e;
      }
    }

    .lbl {
      position: absolute;
      bottom: -18px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}