<!-- Авторизация -->
<na-auth *ngIf="common.mode === 'auth'"></na-auth>
<na-pass-change *ngIf="common.mode === 'changePassword'"></na-pass-change>

<!-- Основной функционал -->
<na-profile *ngIf="common.mode === 'profile'"></na-profile>

<!-- Админка -->
<na-admin *ngIf="common.mode === 'admin'"></na-admin>

<!-- Окно для уведомлений -->
<div class="modal fade" id="commonAlert" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <span class="fa fa-exclamation-triangle fa-5x text-info"></span>
        </div>
        <div class="message"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-primary" data-dismiss="modal">
          OK. Thank you!
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Окно для подтверждений -->
<div class="modal fade" id="commonConfirm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <span class="fa fa-question-circle fa-5x text-info"></span>
        </div>
        <div class="question"></div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col col-xs-6">
            <button type="button" class="btn btn-block btn-default" data-dismiss="modal"  (click)="common.confirmModal(false)">
              No
            </button>
          </div>
          <div class="col col-xs-6">
            <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"
             (click)="common.confirmModal(true)">
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
