<nav class="navbar navbar-default">
  <div class="container">
    <!-- Логотип -->
    <span class="navbar-brand clickable hidden-xs" (click)="selectProfileMode('taskList')">
      <img src="assets/logo_small.png" alt="logo">
    </span>

    <!-- Меню -->
    <ul class="nav navbar-nav">
      <!-- Главная (статус проектов) -->
      <li (click)="selectProfileMode('taskList')"
          [ngClass]="{active: profileMode === 'taskList'}">
        <a href="#">
          <span class="fa fa-wd fa-tasks"></span>
          Task Board
        </a>
      </li>

      <!-- Рейтинг -->
      <li (click)="selectProfileMode('rating')"
          [ngClass]="{active: profileMode === 'rating'}">
        <a href="#">
          <span class="fa fa-wd fa-star"></span>
          Rating
        </a>
      </li>

      <!-- Нетворкинг -->
      <li (click)="selectProfileMode('networking')"
          [ngClass]="{active: profileMode === 'networking'}">
        <a href="#">
          <span class="fa fa-wd fa-users"></span>
          Networking
        </a>
      </li>

      <!-- Вывод денег -->
      <li (click)="selectProfileMode('withdrawal')"
          [ngClass]="{active: profileMode === 'withdrawal'}">
        <a href="#">
          <span class="fa fa-wd fa-money"></span>
          Withdrawal
        </a>
      </li>

      <!-- Rules -->
      <li (click)="selectProfileMode('rules')"
          [ngClass]="{active: profileMode === 'rules'}">
        <a href="#">
          <span class="fa fa-wd fa-exclamation-triangle"></span>
          Rules
        </a>
      </li>

      <!-- FAQ -->
      <li (click)="selectProfileMode('faq')"
          [ngClass]="{active: profileMode === 'faq'}">
        <a href="#">
          <span class="fa fa-wd fa-question"></span>
          F.A.Q.
        </a>
      </li>

      <!-- Информация о пользователе -->
      <li [ngClass]="{active: profileMode === 'editing'}">

        <a href="#">
        <span class="dropdown">
          <!-- Имя пользователя -->
          <span class="clickable dropdown-toggle" data-toggle="dropdown">
            Account (<u>{{ common.user.nickname }}</u>)
          </span>

          <!-- Раскрывающийся список -->
          <ul class="dropdown-menu">
            <!-- Сумма вознаграждения доступная для вывода -->
            <li>
              <a href="#" (click)="selectProfileMode('withdrawal')">
                <span class="fa fa-fw fa-money"></span>
                Money available: {{ common.user.money.available }}
              </a>
            </li>

            <!-- Cумма вознаграждения доступная для вывода после выполнения задач на которые подписался аннотатор -->
            <li>
              <a href="#" (click)="selectProfileMode('withdrawal')">
                <span class="fa fa-fw fa-money"></span>
                Money reserved: {{ common.user.money.reserved }}
              </a>
            </li>

            <li role="separator" class="divider"></li><!-- Разделитель -->

            <!-- Редактировать профиль -->
            <li (click)="selectProfileMode('account')">
              <a href="#">
                <span class="fa fa-fw fa-key"></span>
                Account
              </a>
            </li>

            <!-- Редактировать профиль -->
            <li (click)="selectProfileMode('profile')">
              <a href="#">
                <span class="fa fa-fw fa-user"></span>
                Profile
              </a>
            </li>

            <!-- Выиход из системы -->
            <li (click)="signOut()">
              <a href="#">
                <span class="fa fa-fw fa-sign-out"></span>
                Sign out
              </a>
            </li>
          </ul>
        </span>
        </a>
      </li>
    </ul>
  </div>
</nav>