.list-unstyled {
  li {
    padding: 1px 0px;
    text-align: center;
    margin-bottom: 2px;
    border-right: 5px solid white;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: lighten(#00b3ff, 30);
    color: white;

    &.current {
      background-color: #00b3ff;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .list-unstyled {
    li {
      // padding: 4px 5px;
    }
  }
}