.list-unstyled {
  li {
    padding: 5px;
    margin-bottom: 5px;
    background-color: lighten(#00b3ff, 30);
    color: white;

    &.current {
      background-color: #00b3ff;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .list-unstyled {
    li {
      padding: 4px 5px;
      margin-bottom: 5px;
      font-size: 1rem;
    }
  }
} // sm