<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav nav-pills nav-justified">
      <li [ngClass]="{active: page === 'users'}">
        <a href="#" (click)="changePage($event, 'users')">Users</a>
      </li>
      <li [ngClass]="{active: page === 'projects'}">
        <a href="#" (click)="changePage($event, 'projects')">Projects</a>
      </li>
      <li [ngClass]="{active: page === 'moneyRequests'}">
        <a href="#" (click)="changePage($event, 'moneyRequests')">Money requests</a>
      </li>
    </ul>
  </div>
</nav>