<p>
  Поручение на вывод денег подается с указанием суммы и реквизитов банковской карты, либо реквизитов PayPal счета, Яндекс денег, Qiwi кошелька. На странице содержится справочная информация о максимально возможном выводе в данный момент времени. Приводиться информация о стандартных сроках банковских переводов.
</p>
<ul>
  <li>Справочное окно с максимальным выводом</li>
  <li>Окно куда необходимо ввести сумму вывода</li>
  <li>Ниже логотипы доступных пользователю платежных систем, при нажатии на любую из которых запрашивается реквизиты счета в данной платежной системе.</li>
</ul>
<p>
  Поручение на вывод отправляется администратору на эмейл. И дублируется в личном кабинете администратора.
</p>
