<!-- Список аннотаторов прошедших регистрацию -->
<table class="table table-striped" *ngIf="isLoaded">
  <thead>
    <tr>
      <th>First&Second Name</th>
      <th>E-mail</th>
      <th>Completed tasks</th>
      <th>Active tasks</th>
      <th>Progress</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.completed }}</td><!-- количество выполненных задач -->
      <td>{{ user.active }}</td><!-- количество проектов на которые подписан -->
      <td>{{ user.progress }}</td><!-- % выполнения текущей задачи -->
      <td><!-- Индикатор бана -->
        <span class="fa fa-cog fa-spin fa-lg" *ngIf="user.banned === undefined"></span>
        <button class="btn btn-sm" *ngIf="user.banned !== undefined" [ngClass]="{'btn-danger': user.banned, 'btn-success': !user.banned}"
          (click)="ban(i, user.AID, user.banned)">
          {{ user.banned ? "Banned" : "Active" }}
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Индикатор загрузки страницы -->
<na-loader-big *ngIf="!isLoaded"></na-loader-big>