<ul>
  <li>Список аннотаторов прошедших регистрацию (подтвердили мейл)</li>

  <li>Список аннотаторов с статусами: количество проектов на которые подписан, количество выполненных задач, % выполнения текущей задачи (если две, то усредненный), галочка</li>

  <li>Если аннотатор подписался на задачу, то стоимость для него фиксируется, и отображается в личном кабинете именно в том размере на который он подписался, даже если администратор для новых аннотаторов увеличил или уменьшил размер выплаты.</li>
</ul>