<!-- Список аннотаторов прошедших регистрацию (подтвердили мейл) -->
<!-- Список аннотаторов с статусами: количество проектов на которые подписан, количество выполненных задач, % выполнения текущей задачи (если две, то усредненный), галочка -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>First&Second Name</th>
      <th>E-mail</th>
      <th>Completed tasks</th>
      <th>Current projects amount</th>
      <th>Progress</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.completed }}</td>
      <td>{{ user.projects }}</td>
      <td>{{ user.progress }}</td>
    </tr>
  </tbody>
</table>