$h: 10px;
$tick-size: 2px;
$start: 0%;
$end: 100%;
$length: $end - $start;
$tick-color: lighten(blue, 25);

.timeline {
  margin: 40px 0;
  width: 100%;
  height: $h;
  background-color: #ccc;
  position: relative;
  cursor: pointer;

  .bg, .positioner {
    position: absolute;
    top: -400%;
    height: 900%;
    width: 100%;


    &.bg {
      background-color: #eee;
      z-index: -1;
    }
  }

  .tick, .start, .end {
    position: absolute;
    top: -20px;
    height: 30px;
    width: $tick-size;
    background-color: $tick-color;
    cursor: ew-resize;

    &:before {
      position: absolute;
      content: attr(data-content);
      background-color: $tick-color;
      padding: 1px 5px;
      height: 20px;
      border-radius: 5px;
    }
  }

  .tick {
    left: 0;
    top: -10px;
    height: 30px;
    margin-left: -2px;

    &:before {
      left: 0;
      bottom: -20px;
      border-top-left-radius: 0;
    }
  }

  .start {
    // display: none;
    left: $start;
    margin-left: -$tick-size/2;

    &:before {
      top: 0;
      right: $tick-size;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .end {
    // display: none;
    left: $end;
    margin-left: -$tick-size/2;

    &:before {
      top: 0;
      left: $tick-size;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .fragment {
    // display: none;
    background-color: lighten($tick-color, 10);
    position: absolute;
    left: $start;
    width: $length;
    height: $h;
  }
}

.row {
  margin-top: 50px;
}