<!-- Панель навигации -->
<div class="row">
  <!-- Основные кнопки -->
  <div class="col col-xs-8 text-center">
    <div class="video-navigation">
      <!-- Воспроизведение -->
      <img src="http://imgdisk.ru/images/2017/04/18/play-button.png" alt="play" (click)="playVideo()">

      <!-- Остановка -->
      <img src="http://imgdisk.ru/images/2017/04/18/stop.png" alt="stop" (click)="stopVideo()">

      <!-- Пауза -->
      <img src="http://imgdisk.ru/images/2017/04/18/pause.png" alt="pause" (click)="pauseVideo()">

      <!-- Повторить фрагмент -->
      <img src="http://imgdisk.ru/images/2017/04/18/replay.png" alt="repeat" (click)="replayVideo()">

      <!-- Предыдущий фрагмент -->
      <img src="http://imgdisk.ru/images/2017/04/18/back.png" alt="step-backward" (click)="common.setFragment(common.cf - 1)">

      <!-- Следующий фрагмент -->
      <img src="http://imgdisk.ru/images/2017/04/18/next.png" alt="step-forward" (click)="common.setFragment(common.cf + 1)">
    </div>
  </div>

  <!-- Видео целиком -->
  <div class="col col-xs-4">
    <button class="btn btn-block btn-default" (click)="wholeVideo()"
      [ngClass]="{active: common.cf === -1}">Whole video</button>
  </div>
</div>