<!--
  Статус. Содержит:

  Nickname (не может повторяться)

  Статус баланса.
  Сумма вознаграждения доступная для вывода.
  Также сумма вознаграждения доступная для вывода после выполнения задач на которые подписался аннотатор.

  Рейтинг аннотатора.
-->
<nav class="navbar navbar-default">
  <div class="container">
    <span class="navbar-brand">
      <img src="assets/logo.png" alt="logo">
    </span>
    <p class="navbar-text">
      <span class="dropdown">
        <span class="clickable dropdown-toggle" data-toggle="dropdown">Signed in as <u>{{ user.nickname }}</u></span>
        <ul class="dropdown-menu">
          <li (click)="editingProfile = false">
            <a href="#">
              <span class="fa fa-wd fa-tasks"></span>
              Tasks
            </a>
          </li>
          <li (click)="editingProfile = true">
            <a href="#">
              <span class="fa fa-wd fa-pencil"></span>
              Edit profile
            </a>
          </li>
          <li (click)="common.mode = 'auth'">
            <a href="#">
              <span class="fa fa-wd fa-sign-out"></span>
              Sign out
            </a>
          </li>
        </ul>
      </span>
      <span>Your raiting: {{ user.rating }}</span>
      <span>Money available: {{ user.money.available }}</span>
      <span>Money reserved: {{ user.money.reserved }}</span>
    </p>
  </div>
</nav>


<!--
  Заполнение анкеты в Личном кабинете.
  Данные из анкеты вносятся в профиль.
  Профиль можно редактировать.
  Обязательные для заполнения пункты отмечены выделенным текстом.
-->
<div class="container">
  <form *ngIf="editingProfile">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="John">
    </div>
    <div class="form-group">
      <label for="secondName">Second Name</label>
      <input type="text" class="form-control" id="secondName" placeholder="Doe">
    </div>
    <div class="form-group">
      <label for="Login">Login</label>
      <input type="text" class="form-control" id="Login" placeholder="johndoe_42">
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" placeholder="johndoe_42@gmail.com">
    </div>
    <button type="submit" class="btn btn-primary btn-block" (click)="editingProfile = false">Save</button>
  </form>

  <div *ngIf="!editingProfile">
    <h2>Tasks</h2>
    <h3>Annotating emotional conditions</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2">Projects</th>
          <th colspan="3">Status</th>
        </tr>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Activity</th>
          <th>Completed</th>
          <th>Earned</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects.annotating; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ project.title }}</td>
          <td>{{ project.isActive ? "Active" : "Not active" }}</td>
          <td>{{ project.percentage }}%</td>
          <td>{{ project.earned() }}/{{ project.price }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Marking video fragments</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2">Projects</th>
          <th colspan="3">Status</th>
        </tr>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Activity</th>
          <th>Completed</th>
          <th>Earned</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects.marking; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ project.title }}</td>
          <td>{{ project.isActive ? "Active" : "Not active" }}</td>
          <td>{{ project.percentage }}%</td>
          <td>{{ project.earned() }}/{{ project.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>