.task {
  margin-bottom: 10px;
  padding: 38px;
  width: 100%;
  height: 150px;
  background-color: #00b3ff;
  position: relative;
  font-size: 3rem;
  color: white;

  &:last-child {
    margin-bottom: 40px;
  }

  .description {
    font-size: 2rem;
    span {
      margin-right: 10px;
      color: #ddd;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: lighten(#00b3ff, 10);
  }

  .fa-lock {
    display: none;
  }

  &.locked {
    background-color: #aaa;

    &:hover {
      cursor: default;
      background-color: #aaa;
    }

    .fa-lock {
      display: block;
      position: absolute;
      top: 5px;
      right: 15px;
      opacity: 0.7;
      color: white;
    }
  }

  .give-up {
    position: absolute;
    top: 51px;
    right: 15px;
    font-size: 2.2rem;
  }
}

.p-bar {
  height: 140px;
  margin-top: -10px;
  margin-bottom: 10px;

  > div {
    float: left;
    position: relative;

    &.done {
      .box {
        background-color: #33d800;
      }

      .arrow {
        border-color: transparent transparent transparent #33d800;
      }
    }

    > div {
      display: inline-block;
      padding: 0 10px;
      height: 140px;
      vertical-align: bottom;

      &.box {
        width: 140px;
        line-height: 140px;
        color: #fff;
        background-color: #00b3ff;
        font-size: 2rem;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;

        span {
          display: inline-block;
          line-height: 1.42857143;
          vertical-align: middle;
        }
      }

      &.arrow, &.arrow-white {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 0 40px 20px;
        border-color: transparent transparent transparent #00b3ff;
        position: absolute;
        top: 0;
        right: -35px;
        z-index: 2;
      }

      &.arrow-white {
        border-color: transparent transparent transparent #fff;
        right: -36px;
        z-index: 1;
      }


      &.fa {
        padding-top: 47px;
        width: auto;
        background-color: inherit;
        color: #00b3ff;

        &.done {
          color: #33d800;
        }
      }
    }
  }
}

.navbar-fixed-bottom {
  background-color: #fff;
  min-height: 30px;

  .breadcrumb {
    background: none;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .p-bar {
    height: 80px;

    > div {
      float: left;

      
      &:first-child {
        .box {
          width: 140px;
          padding-left: 8px;
        }
      }

      > div {
        padding: 0 8px;
        height: 80px;
        
        &.box {
          width: 160px;
          padding-left: 30px;
          line-height: 80px;
          font-size: 1.6rem;
        }

        &.fa {
          padding-top: 33px;
        }
      }
    }
  }
}