.task {
  margin-bottom: 10px;
  padding: 38px;
  width: 100%;
  height: 150px;
  background-color: #00b3ff;
  position: relative;
  font-size: 3rem;
  color: white;

  &:last-child {
    margin-bottom: 40px;
  }

  .description {
    font-size: 2rem;
    span {
      margin-right: 10px;
      color: #ddd;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: lighten(#00b3ff, 10);
  }

  .fa-lock {
    display: none;
  }

  &.locked {
    background-color: #aaa;

    &:hover {
      cursor: default;
      background-color: #aaa;
    }

    .fa-lock {
      display: block;
      position: absolute;
      top: 5px;
      right: 15px;
      opacity: 0.7;
      color: white;
    }
  }
}

.p-bar {
  height: 140px;
  margin-bottom: 20px;

  > div {
    float: left;

    > div {
      display: inline-block;
      padding: 0 10px;
      height: 140px;
      vertical-align: bottom;

      &.box {
        width: 140px;
        line-height: 140px;
        color: #fff;
        background-color: #00b3ff;
        font-size: 2rem;
        text-align: center;
        vertical-align: middle;

        span {
          display: inline-block;
          line-height: 1.42857143;
          vertical-align: middle;
        }

        &.done {
          background-color: #33d800;
        }
      }


      &.fa {
        padding-top: 47px;
        width: auto;
        background-color: inherit;
        color: #00b3ff;

        &.done {
          color: #33d800;
        }
      }
    }
  }
}

.navbar-fixed-bottom {
  background-color: #fff;
  min-height: 30px;

  .breadcrumb {
    background: none;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .p-bar {
    height: 110px;

    > div {
      float: left;

      > div {
        padding: 0 8px;
        height: 110px;

        &.box {
          width: 110px;
          line-height: 110px;
          font-size: 1.6rem;
        }

        &.fa {
          padding-top: 33px;
        }
      }
    }
  }
}