<!-- Прогресс-бар -->
<div class="p-bar" *ngIf="!(common.progressBar[1].done && common.progressBar[2].done && common.progressBar[4].done)">
  <div *ngFor="let task of common.progressBar; let i = index">
    <div [ngClass]="{done: task.done}" class="fa fa-3x fa-fw fa-arrow-right" *ngIf="i > 0"></div>
    <div [ngClass]="{done: task.done}" class="box" (click)="task.go()">
      <span>{{ task.action }}</span>
    </div>
  </div>
</div>

<div class="task" *ngIf="!this.common.user.demo"
  (click)="startDemoTask()">
  Demo Task
  <!-- Индикатор загрузки -->
  <!-- <span class="fa fa-cog fa-spin"></span> -->

  <!-- Дополнительная информация -->
  <div class="description">
    <span>Completed: 0%</span>
    <span>Earned: $0/$1</span>
  </div>

  <!-- Замочек -->
  <span class="fa fa-lock fa-5x"></span>
</div>

<!-- Основная страница -->
<div>
  <div *ngIf="!projectMode && isLoaded && common.projects.length > 0">
    <!-- Список проектов -->
    <div *ngFor="let project of common.projects">
      <!-- <h1>{{ project.projectName }}</h1> -->
      <div class="task" *ngFor="let task of project.taskTypes; let i = index"
        [ngClass]="{locked: common.user.profile === 0 || i >= common.user.level || (common.user.taskTaken !== null && i !== common.user.taskTaken - 1)}"
        (click)="taskSelected(project, i)">
        {{ task.title }}
        <!-- Индикатор загрузки -->
        <span class="fa fa-cog fa-spin" *ngIf="loadingTask === i"></span>

        <!-- Дополнительная информация -->
        <div class="description">
          <span>Tasks Amount: {{ task.tasksAmount }}</span>
          <span *ngIf="common.user.taskTaken !== null && i === common.user.taskTaken - 1">Completed: {{ project.annoTask.percentage }}%</span>
          <span *ngIf="common.user.taskTaken !== null && i === common.user.taskTaken - 1">
            Earned: ${{ project.annoTask.earned }}/${{ project.annoTask.price * task.tasksAmount }}
          </span>
          <span *ngIf="common.user.taskTaken === null || i !== common.user.taskTaken - 1">
            Price: ${{ task.price * task.tasksAmount }}
          </span>
          <span *ngIf="common.user.taskTaken === null || i !== common.user.taskTaken - 1">Estimated work time: {{ task.EWT }} min</span>
          <span *ngIf="common.user.taskTaken === null || i !== common.user.taskTaken - 1">Deadline: {{ i < 2 ? '1' : '2' }} week{{ i < 2 ? '' : 's' }}</span>
        </div>

        <button class="btn btn-lg btn-default give-up"
          *ngIf="common.user.taskTaken !== null && i === common.user.taskTaken - 1"
          (click)="giveUp(i)">
          <span class="fa fa-hand-paper-o fa-flip-horizontal"></span>
          Give Up
          <span class="fa fa-hand-paper-o"></span>
        </button>

        <!-- Замочек -->
        <span class="fa fa-lock fa-5x"></span>
      </div>
    </div>
  </div>

  <!-- Индикатор загрузки страницы -->
  <na-loader-big *ngIf="!isLoaded"></na-loader-big>

  <!-- Футер -->
  <footer class="navbar navbar-fixed-bottom">
    <nav class="container">
      <ul class="breadcrumb">
        <li><a href="#" data-toggle="modal" data-target=".terms-modal">Terms</a></li>
        <li><a href="http://neurodatalab.com/en">Company</a></li>
        <li><a href="mailto:info@emotionminer.com">Contacts</a></li>
      </ul>
    </nav>
  </footer>

  <div class="modal fade terms-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Terms</h4>
        </div>
        <div class="modal-body">
          <p>Here you can find general terms and conditions of participation.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade english-test-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="myModalLabel">English test</h4>
      </div>
      <div class="modal-body">
        <na-profile-profile-english></na-profile-profile-english>
      </div>
    </div>
  </div>
</div>