<!-- Progress Bar -->
<div class="row">
  <!-- Начало фрагмента -->
  <div class="col col-xs-1 text-right time-left">
    {{ currentTime | time }}
  </div>

  <!-- Полоса воспроизведения -->
  <div class="col col-xs-10">
    <div class="progress" (click)="setVideoPosition($event)">
      <div class="progress-bar" role="progressbar" [ngStyle]="{width: percentage + '%'}">
        <span class="sr-only">{{ percentage }}% Complete</span>
      </div>
    </div>
  </div>

  <!-- Конец фрагмента -->
  <div class="col col-xs-1 time-right">
    {{ fragmentEnd | time }}
  </div>
</div>