<div class="row">
  <!-- Инструкция по выводу средств -->
  <div class="col col-lg-7 col-md-6 col-xs-12">
    You can withdraw your money anytime you want, when your balance exceeds $10.
    Please complete the standard form and provide us your Paypal account.
  </div>

  <!-- Форма для вывода средств -->
  <div class="col col-lg-5 col-md-6 col-xs-12">
    <form [formGroup]="form" (ngSubmit)="sendRequest($event)">
      <!-- Сумма вывода -->
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" formControlName="money" class="form-control" placeholder="10">
      </div>

      <!-- Номер счёта -->
      <div class="form-group">
        <label for="account">Paypal account</label>
        <input type="text" formControlName="account" class="form-control" placeholder="1234567890">
      </div>

      <!-- Платёжная система -->
      <div class="row logos">
        <!-- PayPal -->
        <div [ngClass]="{active: paymentSystem === 'paypal'}" (click)="paymentSystem = 'paypal'">
          <img src="assets/paypal.png" alt="PayPal">
        </div>
      </div>

      <button class="btn btn-primary btn-block" [ngClass]="{disabled: isRequesting || !this.form.valid}">
        Send a request
        <!-- Индикатор загрузки -->
        <na-loader-inbtn *ngIf="isRequesting"></na-loader-inbtn>
      </button>
    </form>
  </div>
</div>