<!--
Если почтовый адрес уже был зарегистрирован предлагается процедура восстановления пароля.
Указание почтового адреса, на который высылается ссылка, по ссылке открывается страница, на которой пользователь может поменять пароль.
-->
<form>
  <div class="form-group">
    <label for="Login">Login or e-mail</label>
    <input type="text" class="form-control" id="Login" placeholder="johndoe_42">
  </div>
  <button type="submit" class="btn btn-primary btn-block"
    (click)="signOut()">Remind password</button>
</form>