<!--
Если почтовый адрес уже был зарегистрирован предлагается процедура восстановления пароля.
Указание почтового адреса, на который высылается ссылка, по ссылке открывается страница, на которой пользователь может поменять пароль.
-->
<form [formGroup]="form" (ngSubmit)="forgotPass($event)">
  <div class="form-group">
    <label for="login">Login or e-mail</label>
    <input type="text" class="form-control" id="login"
      formControlName="login" placeholder="johndoe_42">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Restore password</button>
</form>