<!-- Список фрагментов -->
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Начало</th>
      <th>Конец</th>
      <th>Оценка</th>
    </tr>
  </thead>
</table>
<div class="right-col">
  <table class="table table-hover table-bordered">
    <tbody>
      <tr *ngFor="let row of common.csv; let i = index" [ngClass]="{
        success: common.rating[common.emotion][i] !== -1,
        warning: common.cf === i,
        danger: common.cf > i && common.rating[common.emotion][i] === -1
      }" (click)="common.setFragment(i)">
        <td>{{ i + 1 }}</td>
        <td *ngFor="let cell of row">{{ cell }}</td>
        <td>{{
          common.rating[common.emotion][i] === -1 ?
            "—" :
            common.task.emotions[common.emotion].scale === 2 ?
              common.rating[common.emotion][i] - 3 :
              common.rating[common.emotion][i]
        }}</td>
      </tr>
    </tbody>
  </table>
</div>